<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    <title>NodeMailer app</title>
</head>
<body>
    <div class="overlay">
    <h1>NODEMAILER</h1>
    <h3 class="mails">SEND YOUR MAILS FREELY FROM ANYWHERE</h3>
    <div>
        <form action="/sendmail" method="post" class="sendmail">
            <input type="email" name="email" id="email" placeholder="ENTER YOUR EMAIL"  class="email"/>
            <input type="text" name="message" class="text" placeholder="TYPE YOUR MESSAGE" />
            <button type="submit" class="submit">SEND EMAIL</button>
          </form>
          
    </div>
    </div>
</body>
</html>